.triangle{
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid black;
}

.circle {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
}

.square {
    height: 50px;
    width: 50px;
    background-color: black;
}

.number {
    height: 50px;
    width: 50px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

@keyframes swayAnimation {
    0%, 100%{ transform: rotate(-30deg);}
    50%{ transform: rotate(30deg); }
}

.triangle, .circle, .square, .number{
    animation: swayAnimation 1s infinite;
}

#created-by {
    display: flex;
    justify-content: center;
}

#created-label {
    font-size: 50px;
    font-weight: bold;
}

.kevin-name {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

@keyframes colorSway {
    0%, 100%{
        transform: rotate(-30deg);
        background-color: yellow;
    }
    25% {
        background-color: greenyellow;
    }
    50%  {
        transform: rotate(30deg);
        background-color: turquoise;
    }
    75% {
        background-color: rgb(255, 141, 113);
    }
}

#created-k, #created-e, #created-v,
#created-i, #created-n, #created-l,
#created-a, #created-ii {
    margin-left: 10px;
    margin-right: 10px;
    animation: colorSway 2s infinite;
}

#draw-seq {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.timer-holder {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 50px;
}

#timer, #level {
    border: 2px solid black;
    width: 100px;
    text-align: center;
    border-radius: 25px;
}

#timer {
    color: red;
}

#level {
    color: green;
}

#game-over {
    display: block;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: red;
}

#final-score, #best-score {
    display: block;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
}

#final-score{
    color: blue;
}

#best-score {
    color: rgb(51, 214, 78);
}


#start-block, #ctrls-block{
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
}

#start-block {
    margin-bottom: 30px;
}

#ctrls-block {
    margin-bottom: 100px;
}

#start-button {
    font-size: 50px;
    font-weight: bold;
    background-color: yellow;
    border-radius: 25px;
    width: 200px;
    box-shadow: 4px 4px black;
}

#start-button:hover, #ctrls-button:hover {
    background-color: rgb(255, 217, 0);
}

#ctrls-button {
    font-size: 30px;
    font-weight: bold;
    background-color: yellow;
    border-radius: 25px;
    box-shadow: 4px 4px black;
    width: 200px;
}


#ctrls-modal {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 150px;
    overflow: auto;
}

#ctrls-body {
    background-color: white;
    width: 1000px;
    height: 600px;
    margin: auto;
    padding: 10px 30px 30px 30px;
    overflow: scroll;
}

#ctrls-close {
    color: black;
    font-size: 50px;
    font-weight: bold;
}

#ctrls-close:hover {
    color: red;
    cursor: pointer;
}

#close-block{
    display: flex;
    justify-content: space-between;
}

#ctrls-title {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
    color: teal;
}

#ctrls-goal {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color: brown;
}

.ctrls-sequence {
    margin-bottom: 30px;
}

.ctrls-text {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: royalblue;
}

.ctrl-key-label {
    font-size: 50px;
    font-weight: bold;
    margin-left: 20px;
}

.ctrl-key {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.ctrls-game-over {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 80px;
    font-weight: bold;
    color: red;
}