.triangle{
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid black;
}

.circle {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
}

.square {
    height: 50px;
    width: 50px;
    background-color: black;
}

.number {
    height: 50px;
    width: 50px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
}

#draw-seq {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.timer-holder {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    font-size: 30px;
}

#timer, #level {
    border: 2px solid black;
    width: 50px;
    text-align: center;
}

#game-over {
    display: block;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
}

#start-block{
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
}

#start-button {
    font-size: 50px;
    font-weight: bold;
    background-color: yellow;
    border-radius: 25px;
    width: 200px;
    box-shadow: 4px 4px black;
}

#start-button:hover {
    background-color: rgb(255, 217, 0);
}